{% extends "layouts/base.html" %}

{% block content %}
    <div class="col-8">
        <div class="d-flex gap-3 align-items-center mb-3">
            <h2>New Questions</h2>
            <a href="{% url 'hot' %}">Hot Questions</a>
        </div>
        <div class="row mb-3">
            <div class="col-1">
                <label for="FormTitle" class="form-label">Title</label>
            </div>
            <div class="col-11">
                <textarea class="form-control" id="FormTitle" rows="1"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1">
                <label for="FormText" class="form-label">Text</label>
            </div>
            <div class="col-11">
                <textarea class="form-control" id="FormText" rows="8"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1">
                <label for="FormTags" class="form-label">Tags</label>
            </div>
            <div class="col-11">
                <textarea class="form-control" id="FormTags" rows="1"></textarea>
            </div>
        </div>
        <div class="row mb-3 mt-4">
            <div class="col-1"></div>
            <div class="col-11">
                <button type="submit" class="btn btn-outline-primary">Ask!</button>
            </div>
        </div>
    </div>
{% endblock %}