{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="col-8">
        <article class="card mb-3 border-0">
            <div class="row g-0">
                <div class="col-3">
                    <div class="w-100 mb-3">
                        <img
                                src="{{ question.user.avatar.url }}"
                                class="img-fluid rounded"
                                alt="..."
                        />
                    </div>
                    {% if user.is_authenticated %}
                        <div class="col text-center">
                            <button class="btn btn-success like-button"
                                    data-type="like"
                                    data-object="question"
                                    data-objectid="{{ question.id }}">
                                <img src="{% static "images/like.png" %}" width="20"/>
                                <span class="like-counter">{{ question.questionscore_set.likes.count }}</span>
                            </button>
                            <button class="btn btn-danger dislike-button"
                                    data-type="dislike"
                                    data-object="question"
                                    data-objectid="{{ question.id }}">
                                <img src="{% static "images/dislike.png" %}" width="20"/>
                                <span class="dislike-counter"> {{ question.questionscore_set.dislikes.count }}</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="col my-0 ps-4">
                    <div class="card-body p-0">
                        <h5 class="card-title">
                            <h3 class="mb-3">{{ question.title }}</h3>
                        </h5>
                        <p class="card-text">
                            {{ question.text }}
                        </p>
                        <div class="row">
                            <div class="col-8">
                                <span>Tags: </span>
                                {% for tag in question.tag_set.all %}
                                    <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% if page_obj %}
            <hr style="border-width: 3px;">
        {% endif %}
        {% for answer in page_obj %}
            {% include "layouts/answers.html" with item=answer %}
        {% endfor %}
        <hr style="border-width: 3px;">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="row mb-3">
                <textarea type="{{ field.field.widget.input_type }}"
                          name="{{ field.html_name }}"
                          class="form-control"
                          id="{{ field.id_for_label }}"
                          placeholder="{{ field.field.widget.attrs.placeholder }}"
                          rows="{{ field.field.widget.attrs.rows }}"
                        {% if field.field.required %} required {% endif %}></textarea>
                </div>
                {% if field.errors %}
                    <div class="list-unstyled text-danger">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="mb-3 mt-4">
                <button type="submit" class="btn btn-outline-primary">Answer!</button>
            </div>
        </form>
        {% include "layouts/pagination.html" %}
    </div>
{% endblock %}