{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="col-8">
        <article class="card mb-3 border-0">
            <div class="row g-0">
                <div class="col-3">
                    <div class="w-100 mb-3">
                        <img
                                src="{{ question.user.avatar.url }}"
                                class="img-fluid rounded"
                                alt="..."
                        />
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-success like-button"
                                data-type="like"
                                data-object="question"
                                data-objectid="{{ question.id }}"
                                {% if not request.user.is_authenticated %} disabled {% endif %}>
                            <img src="{% static "images/like.png" %}" width="20"/>
                            <span class="like-counter">{{ question.questionscore_set.likes.count }}</span>
                        </button>
                        <button class="btn btn-danger dislike-button"
                                data-type="dislike"
                                data-object="question"
                                data-objectid="{{ question.id }}"
                                {% if not request.user.is_authenticated %} disabled {% endif %}>
                            <img src="{% static "images/dislike.png" %}" width="20"/>
                            <span class="dislike-counter"> {{ question.questionscore_set.dislikes.count }}</span>
                        </button>
                    </div>
                </div>
                <div class="col my-0 ps-4">
                    <div class="card-body p-0">
                        <h5 class="card-title">
                            <h3 class="mb-3">{{ question.title }}</h3>
                        </h5>
                        <p class="card-text">
                            {{ question.text }}
                        </p>
                        <div class="row">
                            <div class="col-8">
                                <span>Tags: </span>
                                {% for tag in question.tag_set.all %}
                                    <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% if page_obj %}
            <hr style="border-width: 3px;">
        {% endif %}
        <div id="answer-container">
            <div id="answer-element" style="display: none">
                <div id="hidden-data" style="display: none;"
                     data-request_user_id="{{ request.user.id }}"
                     data-item_user_id="{{ question.user.user.id }}">
                </div>
                {% include "layouts/answers.html" with item=example_answer %}
            </div>
            {% for answer in page_obj %}
                {% include "layouts/answers.html" with item=answer %}
            {% endfor %}
        </div>
        <hr style="border-width: 3px;">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="row mb-3">
                <textarea type="{{ field.field.widget.input_type }}"
                          name="{{ field.html_name }}"
                          class="form-control"
                          id="{{ field.id_for_label }}"
                          placeholder="{{ field.field.widget.attrs.placeholder }}"
                          rows="{{ field.field.widget.attrs.rows }}"
                        {% if field.field.required %} required {% endif %}></textarea>
                </div>
                {% if field.errors %}
                    <div class="list-unstyled text-danger">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="mb-3 mt-4">
                <button type="submit" class="btn btn-outline-primary">Answer!</button>
            </div>
        </form>
        {% include "layouts/pagination.html" %}
    </div>

    <script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
    <script type="text/javascript">
        const centrifuge = new Centrifuge("{{ centrifugo.url }}", {
            token: "{{ centrifugo.token }}"
        });

        centrifuge.on('connecting', function (ctx) {
            console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
        }).on('connected', function (ctx) {
            console.log(`connected over ${ctx.transport}`);
        }).on('disconnected', function (ctx) {
            console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
        }).connect();

        const sub = centrifuge.newSubscription("{{ ws_channel_name }}");

        sub.on('publication', function (ctx) {
            const answerContainer = document.getElementById('answer-container');
            const answerElement = document.getElementById('answer-element');
            const clonedElement = answerElement.cloneNode(true);
            clonedElement.style.display = "contents";
            clonedElement.querySelector('.text').innerHTML = ctx.data.text;
            clonedElement.querySelector('.avatar').src = ctx.data.avatar;
            clonedElement.querySelector('.card').id = ctx.data.answer_id;
            clonedElement.querySelector('.like-button').dataset.objectid = ctx.data.answer_id;
            clonedElement.querySelector('.dislike-button').dataset.objectid = ctx.data.answer_id;
            clonedElement.querySelector('.like-counter').innerHTML = 0;
            clonedElement.querySelector('.dislike-counter').innerHTML = 0;
            clonedElement.querySelector('.is-correct-input').dataset.answerid = ctx.data.answer_id;
            clonedElement.querySelector('.is-correct-input').checked = false;
            const hiddenData = document.getElementById('hidden-data');
            const requestUserId = hiddenData.dataset.request_user_id;
            const itemUserId = hiddenData.dataset.item_user_id;
            clonedElement.querySelector('.is-correct-input').disabled = (requestUserId !== itemUserId);
            addEventListenersToCard(clonedElement.querySelector('.card'));
            addEventListenersToInput(clonedElement.querySelector('.is-correct-input'));
            answerContainer.insertBefore(clonedElement, answerContainer.firstChild);
        }).subscribe();
    </script>
{% endblock %}

