{% extends "layouts/base.html" %}

{% block content %}
    <div class="col-8">
        <div class="d-flex gap-3 align-items-center mb-3">
            <h2>Registration</h2>
        </div>

        <div class="col-9 alert alert-danger p-0" style="background-color: white; border: 0;" role="alert">
            A simple light alert—check it out!
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormLogin" class="form-label">Login</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" id="FormLogin" placeholder="dr_pepper">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormEmail" class="form-label">Email</label>
            </div>
            <div class="col-6">
                <input type="email" class="form-control" id="FormEmail" placeholder="sr.pepper@mail.ru">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormNickName" class="form-label">NickName</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" id="FormNickName" placeholder="Dr.Pepper">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormPasssword" class="form-label">Password</label>
            </div>
            <div class="col-6">
                <input type="password" class="form-control" id="FormPasssword" placeholder="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormRepeatPasssword" class="form-label">RepeatPassword</label>
            </div>
            <div class="col-6">
                <input type="password" class="form-control" id="FormRepeatPasssword" placeholder="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormUploadAvatar" class="form-label">Upload avatar</label>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <input class="form-control" type="file" id="FormUploadAvatar">
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-4">
            <div class="col-3"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">Register!</button>
            </div>
        </div>
    </div>
{% endblock %}
