{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="col-8">
        <div class="d-flex gap-3 align-items-center mb-3">
            <h2>Settings: Dr. Pepper</h2>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormLogin" class="form-label">Login</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" id="FormLogin" placeholder="dr_pepper">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormEmail" class="form-label">Login</label>
            </div>
            <div class="col-6">
                <input type="email" class="form-control" id="FormEmail" placeholder="sr.pepper@mail.ru">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormNickName" class="form-label">Login</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" id="FormNickName" placeholder="Dr.Pepper">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="FormUploadAvatar" class="form-label">Upload avatar</label>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <img
                            src="{% static 'img/empty_avatar.jpg' %}"
                            width="100" height="100"
                            class="rounded"
                            alt="..."
                    />
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" id="FormUploadAvatar">
                </div>
            </div>

        </div>
        <div class="row mb-3 mt-4">
            <div class="col-3"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </div>
        </div>
    </div>
{% endblock %}