<nav class="navbar navbar-light">
    <div class="container-sm-fluid container-lg">
        <h1>AskPupkin</h1>
        <form class="d-flex" role="search">
            <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
            />
            <button class="btn btn-success" type="submit">Ask!</button>
        </form>

        <div class="d-flex justify-content-between gap-3">
            {% if request.user.is_authenticated %}
                <img src="{{ request.user.profile.avatar.url }}" class="rounded" width="50" height="50"/>
                <div class="d-flex flex-column justify-content-between">
                <div>{{ request.user.username }}</div>
                <div>
                    <a class="pe-2" href="{% url 'settings' %}">settings</a>
                    <a class="pe-2" href="{% url 'logout' %}">log out</a>
                </div>
            {% else %}
                <div class=container" style="width: 70px"></div>
                <div>
                    <a class="pe-2" href="{% url 'login' %}">log in</a>
                    <a class="pe-2" href="{% url 'signup' %}">sign up</a>
                </div>
            {% endif %}
            </div>
        </div>
</nav>

<hr class="m-0" style="border-width: 3px;">