<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" onclick=updatePaginationLink(1)>First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                   onclick=updatePaginationLink({{ page_obj.previous_page_number }})>Previous</a>
            </li>
        {% endif %}
        {% for num_page in page_obj.paginator.page_range %}
            {% if num_page == page_obj.number %}
                <li class="page-item active"><a class="page-link" href="#"
                                                onclick=updatePaginationLink()>{{ num_page }}</a>
                </li>
            {% elif num_page >= page_obj.number|add:-2 and num_page <= page_obj.number|add:2 %}
                <li class="page-item"><a class="page-link" href="?page={{ num_page }}"
                                         onclick=updatePaginationLink({{ num_page }})>{{ num_page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                     onclick=updatePaginationLink({{ page_obj.next_page_number }})>Next</a></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                   onclick=updatePaginationLink({{ page_obj.paginator.num_pages }})>Last</a>
            </li>
        {% endif %}
    </ul>
</nav>

<script>
    function updatePaginationLink(page) {
        const queryParams = new URLSearchParams(window.location.search);
        queryParams.set('page', page);
        document.querySelector('.pagination a[href="?page=' + page + '"]').href
            = `${window.location.pathname}?${queryParams.toString()}`;
    }
</script>